@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Roboto Slab", serif;
}

.navbar {
  background: #0f0051 !important;
  color: #fbfcfa;
  box-shadow: 0px 7px 15px #273789;
}
.logo {
  width: 150px;
  height: 80px;
}
.navbar-collapse {
  justify-content: space-around;
}
.cart {
  position: relative;
}
.cart h3 {
  font-size: 22px;
  color: #d3d3d3;
  font-style: oblique;
}
.cart::before {
  width: 22px;
  height: 22px;
  position: absolute;
  top: -10px;
  right: -13px;
  border-radius: 50%;
  color: #fbfcfa;
  background: #000;
  content: "3";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}
.cart i {
  color: #b7b69d;
  font-size: 28px;
  padding-left: 10px;
}
.select-box {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}

select {
  width: 250px;
  padding: 8px 15px;
  border-radius: 10px;
  background: transparent;
  color: #d3d3d3;
}

option {
  padding: 8px 15px;
  color: #000;
}

#result {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
  margin: 100px 0px;
}

.result-div {
  width: 360px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 30px 15px;
  border-radius: 50px;
  margin-top: 20px;
  text-transform: capitalize;
  position: relative;
  top: 0;
  z-index: 10000;
}

.result-div h2 {
  font-size: 16px;
  font-weight: 400;
}

.see-more {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  opacity: 0;
}

.see-more:hover {
  opacity: 1;
  color: #0f0051;
  cursor: pointer;
  font-size: 22px
}
.result-div:hover{
  opacity: 0.8;
}
.result-div img {
  margin-bottom: 20px;
}

.result-div strong {
  font-weight: 900;
}

#search {
  padding: 8px 15px;
  font-weight: 700;
  background: rgb(2, 11, 43);
  color: #d3d3d3;
  border-radius: 5px;
}
.modal-div{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 50px;
  background: #f3f3f3;
  padding: 30px;
  position: relative;
}
.modal-div > h2{
  text-align: center
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  color: #000;
  padding: 0;
  text-align: start;
  height: fit-content;
  box-shadow: none;
  border-radius: none;
}
.modal img{
  width: 200px;height: 400px;
}
.modal-specs{
  padding: 0 20px;
}

.modal-div button {
  position: absolute;
  right: 30px;
  border: navajowhite;
}

footer{
  background: #0f0051;
  color: #f3f3f3;width: 100%;
  padding: 20px;
  text-align: center
}
footer i {
  font-size: 22px;
  padding-left: 15px;
  cursor: pointer;
  color: #275a89
}
.foot-design{
  margin-top: 14px
}